@import url('https://fonts.googleapis.com/css2?family=Outfit&family=Pacifico&family=Protest+Strike&display=swap');

*{
  font-family: 'Outfit', sans-serif;
  /* font-family: 'Pacifico', cursive; */
}

h1{
  font-family: 'Protest Strike', sans-serif;
}
span{
  text-decoration: none;
  /* color: #303030; */
}